.root {
    --bgColor : #155EEF;
}

.background {
    background-color: #EFF4F8;
    height: 90vh;
}

.right-image-container {
    display: grid;
    grid-template-columns: repeat(12, fr);
    position: relative;
}

.banner-image {
    grid-row: 1;
    grid-column: 3;
    height: 90vh;
    width: 80vh;
}

.moon-image {
    padding: 3%;
    padding-left:20%;
}

.moon-image > img {
    height: 10vh;
}
