.button-material-ui-explore-now {
    margin-top: 20px;
    padding: 10px;
    background-color: #155EEF;
    color: #fff;
    border: none;
    border-radius: 12px;
    min-height: 26px; 
    min-width: 150px;
}

.button-material-ui-explore-now:hover {
    background-color:#002ead;
    transition: 0.7s;
}
